{% extends "base.html.twig" %}

{% block body %}
    <div class="body-content">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-8">

                    </div>
                    <div class="col-sm-2">
                    </div>
                </div>
                <div class="b-content home">
                    {% if not hasExpired %}
                        <div class="col-md-4 col-sm-4 col-xs-12" id="divLive">
                            {% if hasLiveFavorites %}
                            <a href="{{ baseUrlAbsolute }}/streams/live/favorites" tabindex="2" class="homeLink">
                            {% else %}
                            <a href="{{ baseUrlAbsolute }}/streams/live/all/5" tabindex="2" class="homeLink">
                            {% endif %}
                                <div class="col-md-12 liveTV rippler rippler-default">
                                    <center><img src="../img/Live_tv.png"></center>
                                    <h3 class="text-center homeTxtCard">LIVE</h3>
                                    <div class="rippler-effect rippler-div" style="width: 0px; height: 0px; left: 314.516px; top: 210.406px;"></div>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            {% if hasMovieFavorites %}
                            <a href="{{ baseUrlAbsolute }}/streams/movie/favorites" tabindex="2" class="homeLink">
                            {% else %}
                            <a href="{{ baseUrlAbsolute }}/streams/movie/all/5" tabindex="2" class="homeLink">
                            {% endif %}
                                <div class="col-md-12 movieVOD rippler rippler-default">
                                    <center><img src="../img/on_demand.png"></center>
                                    <h3 class="text-center homeTxtCard">FILMS</h3>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            {% if hasSerieFavorites %}
                            <a href="{{ baseUrlAbsolute }}/streams/serie/favorites" tabindex="3" class="homeLink">
                            {% else %}
                            <a href="{{ baseUrlAbsolute }}/streams/serie/all" tabindex="3" class="homeLink">
                            {% endif %}
                                <div class="col-md-12 tvSeries rippler rippler-default">
                                    <center><img src="../img/series.png"></center>
                                    <h3 class="text-center homeTxtCard">SERIES</h3>
                                </div>
                            </a>
                        </div>
                    {% endif %}

                    <div class="col-md-12 col-sm-12 col-xs-12 Mybtns">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <a class="btn center-block btn-lg account rippler rippler-default"
                               href="{{ baseUrlAbsolute }}/account/autolog">
                                <i class="fa fa-refresh"></i> SYNC DATA
                            </a>
                        </div>
                        {% if isTv %}
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <a class="btn center-block btn-lg account rippler rippler-default"
                                   href="{{ baseUrlAbsolute }}/extra/speedtest">
                                    <i class="fa fa-tachometer"></i> SPEEDTEST
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <a class="btn center-block btn-lg account rippler rippler-default"
                                   href="{{ baseUrlAbsolute }}/extra/fast">
                                    <i class="fa fa-tachometer"></i> FAST
                                </a>
                            </div>
                        {% endif %}
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <a class="btn center-block btn-lg logoutBtn rippler rippler-default"
                               href="{{ baseUrlAbsolute }}/caches/clearMine">
                                <i class="fa fa-trash" style="padding-top: 0px;"></i> DELETE CACHE
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <a class="btn center-block btn-lg logoutBtn rippler rippler-default"
                               href="{{ baseUrlAbsolute }}/account/logout">
                                <i class="fa fa-sign-out" style="padding-top: 0px;"></i> LOG OUT
                            </a>
                        </div>
                    </div>
                    <h4 class="text-center" style="color: #fff; top: 50px; float:left;width: 100%;position: relative;    text-transform: uppercase;">
                        <a href="{{ baseUrlAbsolute }}/account/iptv">
                            <span style="{% if hasExpired %}color:red !important;{% endif %}">
                                    Expiration: {{ userInfo.expDate|date('d/m/Y H:i ') }}
                            </span>
                        </a>
                    </h4>
                    <h4 class="text-center" style="color: #fff; top: 50px; float:left;width: 100%;position: relative;    text-transform: none;">CONNECTED AS: {{ connectedAs }}</h4>
{#                    <small class="text-center" style="color: #fff; top: 50px; float:left;width: 100%;position: relative;">#}
{#                        {{ userAgent }}#}
{#                    </small>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $('#divLive').focus();
    </script>
{% endblock %}


{% block bg %}
{#    <img class="body-bg" src="{{ baseUrlAbsolute }}/img/bg.jpg">#}
{% endblock %}
