{% extends "base.html.twig" %}

{% block extraACss %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300">
    <link rel="stylesheet" href="{{ baseUrlAbsolute }}/css/jquery.flex-images.css">
{% endblock %}

{% block body %}
    {% include 'Module/search.html.twig' %}

    <div id="header">
        <div class="pull-left">
            <a href="{{ baseUrlAbsolute ~ homeUrlAbsolute }}" tabindex="5" class="btn">
                <i class="fa fa-home"></i>
            </a>
            {% if catName != '' %}
                {% if isHidden %}
                <a href="{{ baseUrlAbsolute }}/category/unhide/movie/{{ currentCat }}" tabindex="6" class="btn">
                    <i class="fa fa-eye"></i>
                </a>
                {% else %}
                <a href="{{ baseUrlAbsolute }}/category/hide/movie/{{ currentCat }}" tabindex="6" class="btn">
                    <i class="fa fa-eye-slash"></i>
                </a>
                {% endif %}
            {% endif %}
            <span class="hidden-xs">
                {{ catName }}
            </span>
        </div>
        <div class="pull-right">
            <div class="btn-group" role="group">
                {% if currentCat == 'suggest' %}
                    <a href="{{ baseUrlAbsolute }}/streams/suggestMovie/moviemeter,asc" tabindex="3" class="btn">
                        <i class="fa"></i>
                    </a>
                    <a href="{{ baseUrlAbsolute }}/streams/suggestMovie/user_rating,desc" tabindex="3" class="btn">
                        <i class="fa fa-star"></i>
                    </a>
                    <a href="{{ baseUrlAbsolute }}/streams/suggestMovie/release_date,desc" tabindex="3" class="btn">
                        <i class="fa fa-clock-o"></i>
                    </a>
                {% else %}
                    <a href="{{ baseUrlAbsolute }}/streams/{{ type }}/{{ currentCat }}/{% if sort == 2 %}1{% else %}2{% endif %}/{{ search }}" tabindex="3" class="btn">
                        <i class="fa fa-sort-alpha-asc"></i>
                    </a>
                    <a href="{{ baseUrlAbsolute }}/streams/{{ type }}/{{ currentCat }}/{% if sort == 3 %}4{% else %}3{% endif %}/{{ search }}" tabindex="3" class="btn">
                        <i class="fa fa-star"></i>
                    </a>
                    <a href="{{ baseUrlAbsolute }}/streams/{{ type }}/{{ currentCat }}/{% if sort == 5 %}6{% else %}5{% endif %}/{{ search }}" tabindex="3" class="btn">
                        <i class="fa fa-clock-o"></i>
                    </a>
                {% endif %}
            </div>
            <div class="btn-group" role="group">
                <a tabindex="4" class="btn" id="search">
                    <i class="fa fa-search"></i>
                </a>
                <a href="{{ baseUrlAbsolute }}/streams/advancedSearch/{{ type }}" tabindex="5" class="btn">
                    <i class="fa fa-search-plus"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="sidenav col-sm-3 col-xs-3 col-md-2">
        <ul>
            <a href="{{ baseUrlAbsolute }}/streams/suggestMovie"
               style="{% if currentCat == 'suggest' %}color:white{% endif %}"
               tabindex="2">
                <li>SUGGEST</li>
            </a>
            <a href="{{ baseUrlAbsolute }}/streams/{{ type }}/all"
               style="{% if currentCat == 'all' and sort != 5 %}color:white{% endif %}"
               tabindex="2">
                <li>ALL ({{ nbStreamsByCat["all"] }})</li>
            </a>
            <a href="{{ baseUrlAbsolute }}/streams/{{ type }}/favorites"
               style="{% if currentCat == 'favorites' %}color:white{% endif %}"
               tabindex="2">
                <li>FAVORITES ({{ nbStreamsByCat["favorites"] }})</li>
            </a>
            <a href="{{ baseUrlAbsolute }}/streams/{{ type }}/all/5"
               style="{% if currentCat == 'all' and sort == 5 %}color:white{% endif %}"
               tabindex="2">
                <li>RECENTLY ADDED (100)</li>
            </a>
        {% for category in categories %}
            {% if isAllowedQuality(category.name) %}
                <a href="{{ baseUrlAbsolute }}/streams/{{ type }}/{{ category.id }}"
                   style="{% if catName == category.name %}color:white{% endif %}"
                   tabindex="2">
                    <li>
                        {{ category.name }}
                        {% if nbStreamsByCat[category.id] is defined %}
                            ({{ nbStreamsByCat[category.id] }})
                        {% endif %}
                    </li>
                </a>
            {% endif %}
        {% endfor %}
            <a style="opacity: 0.5;"
               id="hiddenCats"
               tabindex="2">
                <li>HIDDEN ({{ nbStreamsByCat["hidden"] }})</li>
            </a>
        {% for category in hiddenCategories %}
            <a href="{{ baseUrlAbsolute }}/streams/{{ type }}/{{ category.id }}"
               style="{% if catName == category.name %}color:white;{% endif %} opacity: 0.5; display: none;"
               class=" hidden-cat"
               tabindex="2">
                <li>
                    {{ category.name }}
                    {% if nbStreamsByCat[category.id] is defined %}
                        ({{ nbStreamsByCat[category.id] }})
                    {% endif %}
                </li>
            </a>
        {% endfor %}
        </ul>
    </div>
    <div id="flex" class="flex-images col-sm-offset-3 col-sm-9 col-xs-offset-3 col-xs-9 col-md-offset-2 col-md-10">
        {% if not contentAlloweded %}
            <form method="post" class="form-inline" >
                <input type="password" name="pass" class="form-control" autocomplete="off" placeholder="Password">
                <input type="submit" class="btn btn-default" value="Ok">
            </form>
        {% else %}
            {% for stream in streams %}
                <a href="{{ baseUrlAbsolute }}/streams/movieInfo/{{ stream.streamid }}"
                   tabindex="1"
                   class="item-link"
                   data-name="{{ stream.name|lower }}"
                   data-added="{{ stream.added.timestamp }}"
                   data-rate="{{ stream.rating5based }}">
                    <div class="item">
                        <img {# if loop.index > 50 %}data-{% endif #}src="{{ baseUrlAbsolute ~ stream.streamIcon }}"
                             style="{% if streamView[stream.streamId] is defined %}opacity: 0.2{% endif %}"
                             alt="{{ stream.name }}"
                             title="{{ stream.name }}">
                        <div class="over">
                            {{ stream.name }}

                            {% include 'Module/stars.html.twig' with {'rating': stream.rating5based} %}
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>
    {% include 'Module/lazyload.html.twig' %}
{% endblock %}

{% block js %}
    <script>
        $('#hiddenCats').click(function () {
            $('.hidden-cat').toggle();
        });
    </script>
{% endblock %}
