{% extends "base.html.twig" %}

{% block body %}
    <div id="searchPopin" class="hide">
        <div class="container" style="margin-top: 1em">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="input-group">
                        <input id="inputSearch" type="text" class="form-control" placeholder="Search" value="{{ search }}">
                        <span id="goSearch" class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="header">
        <div class="pull-left">
            <a href="{{ baseUrlAbsolute ~ homeUrlAbsolute }}" class="btn" tabindex="4">
                <i class="fa fa-home"></i>
            </a>
            {% if catName != '' %}
                {% if isHidden %}
                    <a href="{{ baseUrlAbsolute }}/category/unhide/live/{{ currentCat }}" tabindex="6" class="btn">
                        <i class="fa fa-eye"></i>
                    </a>
                {% else %}
                    <a href="{{ baseUrlAbsolute }}/category/hide/live/{{ currentCat }}" tabindex="6" class="btn">
                        <i class="fa fa-eye-slash"></i>
                    </a>
                {% endif %}
            {% endif %}
            {{ catName }}
        </div>
        <div class="pull-right">
            <a id="search" type="button" class="btn" tabindex="3">
                <i class="fa fa-search"></i>
            </a>
        </div>
    </div>
    <style>
        #header {
            width: 100%;
            z-index: 10;
            position: fixed;
            background: white;
            padding: 1em;
            font-weight: bold;
        }

        #searchPopin {
            text-align: center;
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 11;
            background: rgba(0,0,0,0.7);
        }
        div.gallery {
            border: 1px solid #ccc;
        }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            min-width: 100px;
            min-height: 56px;
        }

        div.desc {
            padding: 5px;
            text-align: center;
            font-size: 10px;
            font-weight: bold;
            letter-spacing: -1px;
            color: white;
        }

        * {
            box-sizing: border-box;
        }

        .responsive {
            margin: 0 1%;
            float: left;
            width: 14.5%;
            color: white;
            height: 120px;
        }

        @media only screen and (max-width: 700px) {
            .responsive {
                width: 20%;
                margin: 6px 0;
            }
        }

        @media only screen and (max-width: 500px) {
            .responsive {
                width: 33.3%;
            }
        }

        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }

        a, a:hover, a:visited {
            color: white;
        }

        body {
            background: black;
        }

        a:focus, a:focus > .desc{
            color: #e8b12c;
        }

        #list {
            padding: 5em 5px;
        }

        .bonus {
            border: thin solid black;
            position: relative;
            background: white;
            color: black;
        }

        .bonus a {
            color: black !important;
        }
    </style>
    <div id="list">
    {% for stream in streams %}
        <div class="responsive" data-name="{{ stream.name|lower }}">
            <div class="gallery">
                {% if '***' in stream.name %}
                    <div class="desc" tabindex="-1" tabindex="-1">
                        {{ stream.name|length > 20 ? stream.name|slice(0, 20) ~ '..' : stream.name  }}
                    </div>
                {% else %}
                    <a href="{{ baseUrlAbsolute }}/streams/liveInfo/{{ stream.name|base64Encode }}" tabindex="1">
                    <!--a href="{{ vlcDeeplink ~ stream.streamLink }}" tabindex="1"-->
                        <img src="{{ baseUrlAbsolute ~ stream.streamIcon }}"
                             alt="{{ stream.name }}"
                             title="{{ stream.name }}"
                             width="100" height="56">
                        <div class="desc">
                            {{ stream.name|length > 18 ? stream.name|slice(0, 18) ~ '..' : stream.name  }}
                        </div>
                    </a>
                {% endif %}
            </div>
            <div class="bonus hide">
                <ul>
                    <li>
                        <a href="{{ vlcDeeplink ~ stream.streamLink }}">HD</a>
                    </li>
                    <li>
                        <a href="{{ vlcDeeplink ~ stream.streamLink }}">SD</a>
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $('#search').click(function () {
            $('#searchPopin').removeClass('hide');
            $('#inputSearch').focus();
        });

        $('#inputSearch').on('input', function() {
            const search = $(this).val().toLowerCase();
            $('.responsive').each(function () {
                if ($(this).data('name').search(search) >= 0) {
                    $(this).removeClass('hide');
                } else {
                    $(this).addClass('hide');
                }
            })
        });

        $("#inputSearch").on('keyup', function (e) {
            if (e.keyCode === 13) {
                $('#searchPopin').addClass('hide');
            }
        });

        $('#goSearch, #searchPopin').click(function() {
            $('#searchPopin').addClass('hide');
        });

        $('.responsive').on('long-press', function(e) {
            $('.bonus').addClass('hide');
            $(this).find('.bonus').removeClass('hide');
            $(this).find('.bonus a:eq(0)').focus();
        });
    </script>
    <script src="{{ baseUrlAbsolute }}/js/long-press-event.min.js"></script>
{% endblock %}
