{% extends "base.html.twig" %}

{% block body %}
    <style>
        .container {
            background: rgba(0,0,0,0.8);
        }

        td:nth-child(odd) {
            width: 30%;
            height: 3em;
        }

        p {
            font-family: roboto;
            line-height: 17px;
        }

        .btn {
            margin-bottom: 5px;
            width: 100%;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 style="text-align: center;">{{ serie.name }}</h1>
            </div>
            <div>
                <div class="col-md-3 col-sm-3 col-xs-8 col-xs-offset-2 col-sm-offset-0">
                    <img src="{{ baseUrlAbsolute ~ serie.cover }}" class="col-md-12 col-sm-12 col-xs-12" >
                    <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
                        {% include 'Module/stars.html.twig' with {'rating': serie.rating5based} %}
                    </div>
                    {% for alternateName,alternateUrl in alternates %}
                        {% if isAllowedQuality(alternateName) %}
                            <a href="{{ alternateUrl }}" tabindex="1" class="btn btn-success">
                                Alternate {{ alternateName }}
                            </a>
                        {% endif %}
                    {% endfor %}
                    <hr>
                    {% if serie.youtubeTrailer is not empty  %}
                        {% if isAndroid or isIos %}
                            <a href="{{ youtubeDeeplink }}{{ serie.youtubeTrailer }}" tabindex="1" class="btn btn-danger">
                                Trailer
                            </a>
                        {% else %}
                            <a href="https://www.youtube.com/watch?v={{ serie.youtubeTrailer }}" tabindex="1" target="_blank" class="btn btn-danger">
                                Trailer
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if isFavorite %}
                        <a href="{{ baseUrlAbsolute }}/account/removefavorite/serie/{{ serie.id }}"class="btn btn-warning">
                            <i class=" fa fa-minus"></i> Favorite
                        </a>
                    {% else %}
                        <a href="{{ baseUrlAbsolute }}/account/addfavorite/serie/{{ serie.id }}" class="btn btn-warning">
                            <i class="fa fa-plus"></i> Favorite
                        </a>
                    {% endif %}
                    {% include 'Module/shareUrl.html.twig' %}
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <b>Date :</b>
                        {{ serie.releaseDate|date('d/m/Y') }}
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <b>Genre :</b>
                        {{ serie.genre }}
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="col-md-2 col-sm-2 col-xs-3">
                        <b>Director:</b>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-9">
                        {{ serie.director }}&nbsp;
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-3">
                        <b>Casting:</b>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-9">
                        {{ serie.cast }}&nbsp;
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-3">
                        <b>Resume:</b>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-9">
                        <p>{{ serie.plot }}&nbsp;</p>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        <select class="form-control" id="seasonChoice" style="margin-top: 2em;">
                            {% for season, episodes in serie.episodes %}
                                {% if serie.seasons[season] is not empty %}
                                <option value="{{ season }}">{{ serie.seasons[season].name }}</option>
                                {% else %}
                                <option value="{{ season }}">Season {{ season }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    {% set currentSeason = 0 %}
                    {% set lastEpisode = 0 %}
                    {% for season, episodes in serie.episodes %}
                        <div class="seasons season{{ season }} col-md-12 col-sm-12 col-xs-12 {% if loop.index0 != 0 %}hide{% endif %}" style="padding: 1em 0;">
                            <div class="col-md-10 col-sm-10">
                                Episodes: {{ serie.seasons[season].episodeCount }}
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                {{ serie.seasons[season].airDate|date('d/m/Y') }}
                            </div>
                            <!--div class="col-md-12 col-sm-12 col-xs-12">
                                <p>
                                    {{ serie.seasons[season].overview }}
                                </p>
                            </div-->
                            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 15px; background: rgb(0,0,0,0.5); padding-top: 1em;">
                            {% for episode in episodes %}
                                <div class="col-md-12 col-sm-12 col-xs-12 episode" style="padding-top: 1em;" id="episode-{{ episode.id }}" tabindex="-1">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <img src="{% if episode.movieImage == '/asset/img/' %}{{ baseUrlAbsolute }}/img/blank.gif{% else %}{{ baseUrlAbsolute ~ episode.movieImage }}{% endif %}" width="100%" style="max-height: 7em">
                                        {% if streamView[episode.id] is defined %}
                                            {% set currentSeason = season %}
                                            {% set lastEpisode = episode.id %}
                                            <div style="height: 3px;background: #d43f3a;"></div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-5">
                                        <p>{{ episode.episodeNum }}. {{ episode.name }}</p>
                                        <p>{{ episode.dureationFormatted }}</p>
                                        <p>{{ episode.video.width }}x{{ episode .video.height }}</p>
                                        {% set rating5 = (episode.rating/2)|round(1)  %}
                                        {% include 'Module/stars.html.twig' with {'rating': rating5} %}
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3" style="padding: 0;">
                                        {% if isAndroid or isIos %}
                                        <a href="{{ baseUrlAbsolute }}/streams/flagAsView/serie/{{ episode.id }}/{{ (vlcDeeplink ~ episode.streamLink)|base64Encode }}" tabindex="1" class="btn btn-primary pull-right" style="font-size: 10px">
                                            Play
                                        </a>
                                        {% endif %}
                                        {% if not isIos and not isAndroid and isChrome  %}
                                        <a href="{{ baseUrlAbsolute }}/streams/flagAsView/serie/{{ episode.id }}/{{ (baseUrlAbsolute ~ "/streams/play/serie/" ~ serie.id ~ "/" ~ season ~ "/" ~ episode.episodeNum)|base64Encode }}" tabindex="1" class="btn btn-success pull-right" style="font-size: 10px">
                                            Webplayer
                                        </a>
                                        {% endif %}
                                        {% if not isTv %}
                                        <a href="{{ episode.streamLink }}" tabindex="1" class="btn btn-default pull-right" style="font-size: 10px">
                                            Download
                                        </a>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <p>
                                            {{ episode.plot }}
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="currentSeason" value="{{ currentSeason }}">
    <input type="hidden" id="lastEpisode" value="{{ lastEpisode }}">
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $('#seasonChoice').change(function () {
            $('.seasons').addClass('hide');
            $('.season' + $(this).val()).removeClass('hide');
        });

        //if we have already see an episode
        if ($('#lastEpisode').val() > 0) {
            //if we have a next episode this season
            if ($('#episode-' + $('#lastEpisode').val()).next().length > 0) {
                var nextEpisode = $('#episode-' + $('#lastEpisode').val()).next();

                $('#seasonChoice').val($('#currentSeason').val());
            } else {
                //if we have a season next the current seen
                if ($('#seasonChoice option[value='+$('#currentSeason').val()+']').next().length > 0) {
                    const nextSeason = $('#seasonChoice option[value='+$('#currentSeason').val()+']').next().val();
                    $('#seasonChoice').val(nextSeason);
                    var nextEpisode = $('.season' + nextSeason + ' .episode:eq(0)');
                } else {
                    var nextEpisode = $('#episode-' + $('#lastEpisode').val());

                    $('#seasonChoice').val($('#currentSeason').val());
                }
            }

            $('#seasonChoice').change();
            //nextEpisode.attr('tabindex', 1);
            nextEpisode.find('.btn:eq(0)').focus()
            window.location.href = '#' + nextEpisode.attr('id');
        }
    </script>
{% endblock %}

{% block bg %}
    {% if serie.backdropPath[0] is not empty and serie.backdropPath[0] != '/asset/img/' %}
        <img class="body-bg" src="{{ baseUrlAbsolute ~ random(serie.backdropPath) }}">
    {% endif %}
{% endblock %}
