{% extends "base.html.twig" %}

{% block body %}
    <style>
        .container {
            background: rgba(0,0,0,0.8);
        }

        .stars {
            text-align: center;
        }

        td:nth-child(odd) {
            width: 30%;
            height: 3em;
        }

        .btn {
            margin-bottom: 5px;
            width: 100%;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 style="text-align: center;">{{ movie.name }}</h1>
            </div>
            <div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <img src="{{ baseUrlAbsolute ~ movie.image }}" width="100" class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        {% if streamView[movie.streamId] is defined %}
                            <div style="height: 2px;background: #d43f3a;"></div>
                        {% endif %}

                        {% set rating5 = (movie.rating/2)|round(1)  %}
                        {% include 'Module/stars.html.twig' with {'rating': rating5} %}

                        {% if movie.youtubeTrailer is not empty  %}
                            {% if isMobile %}
                                <a href="{{ youtubeDeeplink }}{{ movie.youtubeTrailer }}" tabindex="1" class="btn btn-danger">
                                    Trailer
                                </a>
                            {% else %}
                                <a href="https://www.youtube.com/watch?v={{ movie.youtubeTrailer }}" tabindex="1" class="btn btn-danger" style="width: 100%;" target="_blank">
                                    Trailer
                                </a>
                            {% endif %}
                        {% endif %}
                        {% if isMobile %}
                            {% for quality,link in links %}
                                {% if isAllowedQuality(quality) %}
                                    <a href="{{ baseUrlAbsolute }}/streams/flagAsView/movie/{{ link.id }}/{{ (vlcDeeplink ~ link.stream)|base64Encode }}" tabindex="1" class="btn btn-success">
                                        Play {{ quality }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if not isMobile and isChrome  %}
                            {% for quality,link in links %}
                                {% if isAllowedQuality(quality) %}
                                    <a href="{{ baseUrlAbsolute }}/streams/flagAsView/movie/{{ link.id }}/{{ (baseUrlAbsolute ~ "/streams/play/movie/" ~ link.id)|base64Encode }}" tabindex="1" class="btn btn-success">
                                        Webplayer {{ quality }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                            <hr>
                        {% endif %}
                        {% if not isTv %}
                            {% for quality,link in links %}
                                {% if isAllowedQuality(quality) %}
                                    <a href="{{ link.stream }}" class="btn btn-primary" download>
                                        Download {{ quality }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                            <hr>
                        {% endif %}
                        {% if isFavorite %}
                        <a href="{{ baseUrlAbsolute }}/account/removefavorite/movie/{{ movie.streamId }}" class="btn btn-warning">
                            <i class=" fa fa-minus"></i> Favorite
                        </a>
                        {% else %}
                        <a href="{{ baseUrlAbsolute }}/account/addfavorite/movie/{{ movie.streamId }}" class="btn btn-warning">
                            <i class="fa fa-plus"></i> Favorite
                        </a>
                        {% endif %}
                        {% include 'Module/shareUrl.html.twig' %}
                    </div>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                    <table>
                        <tr>
                            <td><b>Director:</b></td>
                            <td>{{ movie.director }}</td>
                        </tr>
                        <tr>
                            <td><b>Casting:</b></td>
                            <td>{{ movie.cast }}</td>
                        </tr>
                        <tr>
                            <td><b>Genre:</b></td>
                            <td>{{ movie.genre }}</td>
                        </tr>
                        <tr>
                            <td><b>Release date:</b></td>
                            <td>{{ movie.releaseDate|date('d/m/Y') }}</td>
                        </tr>
                        <tr>
                            <td><b>Duration:</b></td>
                            <td>{{ movie.dureationFormatted }}</td>
                        </tr>
                        <tr>
                            <td><b>Format:</b></td>
                            <td>{{ movie.video.width }}x{{ movie.video.height }}</td>
                        </tr>
                        <tr>
                            <td><b>Resume:</b></td>
                            <td>{{ movie.plot }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block bg %}
    {% if movie.backdropPath[0] is not empty and movie.backdropPath[0] != '/asset/img/' %}
    <img class="body-bg" src="{{ baseUrlAbsolute ~ random(movie.backdropPath) }}">
    {% endif %}
{% endblock %}
