{% for stream in streams|slice(start, maxContentPerPage) %}
    <a href="{{ baseUrlAbsolute }}/streams/liveInfo/{{ stream.name|base64Encode }}"
       tabindex="1"
       class="item-link"
       data-name="{{ stream.name|lower }}"
       data-added="{{ stream.added.timestamp }}"
       data-rate="{{ stream.rating5based }}">
        <div class="item" style="{% if streamView[stream.streamId] is defined %}opacity: 0.3{% endif %}">
            <img {# if loop.index > 50 %}data-{% endif #}src="{{ baseUrlAbsolute ~ stream.streamIcon }}"
                 alt="{{ stream.name }}"
                 title="{{ stream.name }}">
            <div class="over">
                {{ stream.name|stripLang }}
            </div>
        </div>
    </a>
{% endfor %}
