{% for stream in streams|slice(start, maxContentPerPage) %}
    <a href="{{ baseUrlAbsolute }}/streams/movieInfo/{{ stream.streamid }}"
       tabindex="1"
       class="item-link"
       data-name="{{ stream.name|lower }}"
       data-added="{{ stream.added.timestamp }}"
       data-rate="{{ stream.rating5based }}">
        <div class="item" style="{% if streamView[stream.streamId] is defined %}opacity: 0.3{% endif %}">
            <img {# if loop.index > 50 %}data-{% endif #}src="{{ baseUrlAbsolute ~ stream.streamIcon }}"
                 alt="{{ stream.name }}"
                 title="{{ stream.name }}">
            <div class="over">
                {{ stream.name }}

                {% include 'Module/stars.html.twig' with {'rating': stream.rating5based} %}
            </div>
        </div>
    </a>
{% endfor %}
